Package: liblinklibnetsnm30to35
Version: 1.0
Section: base
Priority: optional
Architecture: amd64
Essential: no
Maintainer: Henrique Zardin <henrique.zardin@digicon.com.br>
Description: Pacote para criar link simbólico para libnetsnmpagent.so.35

